.faqContainer {
  padding: 2rem 0;
}

.faqColumns {
  display: flex;
  gap: 2rem;
}

.faqColumn {
  flex: 1;
}

.question {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #7febba;
}

.answer {
  margin-bottom: 1.5rem;
  color: darkgray;
}

.cardWithShadow {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 253, 0.3);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cardWithShadow:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 253, 253, 0.8);
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

.hero {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 50px 20px;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    background: url('/images/metagold.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
}

.heroTitle {
    font-size: 3.5rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
}

.heroSubtitle {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
}

.heroButtons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}

.heroButton {
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 8px;
}

.heroImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 30px;
}

.heroSubtitleDark {
    color: rgb(53, 53, 53);
    font-size: 1.5rem;
    font-weight:bold;
}

.heroImage.cardWithShadow {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 253, 0.3);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.heroImage.cardWithShadow:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 253, 253, 0.8);
}